<div id="sectionhome" class="container-fluid">
    <div class="row col-lg-offset-1 col-md-offset-1">
        <div class="col-lg-4 col-md-4 col-sm-4 col-xs-12">
            <%= image_tag("fresh.jpg", :class => "img-responsive")%>
        </div>
        <div class="col-lg-6 col-md-6 col-sm-8 col-xs-12">
            HOME
            
            Lorem ipsum dolor sit amet, consectetur adipiscing elit. In finibus mauris a accumsan ultricies. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Cras rutrum felis iaculis, viverra eros quis, eleifend ante. Aenean facilisis lobortis rhoncus. Cras rhoncus dignissim magna, eget pretium odio pretium et. Fusce fermentum, erat et dignissim dictum, nibh ligula blandit enim, a pretium mi ligula pellentesque justo. Vestibulum ut nibh sit amet elit elementum rhoncus. Praesent nec risus nunc. In tincidunt diam sed est iaculis, sit amet porttitor ipsum sollicitudin. Ut a aliquam mauris, ut laoreet ex. Aenean sed augue dolor. Curabitur sit amet purus at sem suscipit scelerisque. Phasellus maximus ultrices orci aliquam egestas. Nam vitae ipsum non erat sollicitudin rhoncus sit amet eget mauris. Fusce orci nibh, dignissim auctor tristique non, tempus eget lacus. Cras at augue non erat facilisis bibendum.
        </div>
    </div>
</div>
<div id="sectionaboutus" class="container-fluid">
    <div class="row col-lg-offset-1 col-md-offset-1">
        <div class="hidden-lg hidden-md hidden-sm col-xs-12">
            <%= image_tag("rika.jpg", :class => "img-responsive")%>
        </div>
        <div class="col-lg-6 col-md-6 col-sm-8 col-xs-12">
            OVER ONS
            
            Lorem ipsum dolor sit amet, consectetur adipiscing elit. In finibus mauris a accumsan ultricies. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Cras rutrum felis iaculis, viverra eros quis, eleifend ante. Aenean facilisis lobortis rhoncus. Cras rhoncus dignissim magna, eget pretium odio pretium et. Fusce fermentum, erat et dignissim dictum, nibh ligula blandit enim, a pretium mi ligula pellentesque justo. Vestibulum ut nibh sit amet elit elementum rhoncus. Praesent nec risus nunc. In tincidunt diam sed est iaculis, sit amet porttitor ipsum sollicitudin. Ut a aliquam mauris, ut laoreet ex. Aenean sed augue dolor. Curabitur sit amet purus at sem suscipit scelerisque. Phasellus maximus ultrices orci aliquam egestas. Nam vitae ipsum non erat sollicitudin rhoncus sit amet eget mauris. Fusce orci nibh, dignissim auctor tristique non, tempus eget lacus. Cras at augue non erat facilisis bibendum.
        </div>
        <div class="col-lg-4 col-md-4 col-sm-4 hidden-xs">
            <%= image_tag("rika.jpg", :class => "img-responsive")%>
        </div>
    </div>
</div>
<div id="sectionprices" class="container-fluid">
    <div class="row col-lg-offset-1 col-md-offset-1">
        <div class="col-lg-4 col-md-4 col-sm-4 col-xs-12">
            <%= image_tag("fresh.jpg", :class => "img-responsive")%>
        </div>
        <div class="col-lg-6 col-md-6 col-sm-8 col-xs-12">
            PRIJZEN
            
            Lorem ipsum dolor sit amet, consectetur adipiscing elit. In finibus mauris a accumsan ultricies. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Cras rutrum felis iaculis, viverra eros quis, eleifend ante. Aenean facilisis lobortis rhoncus. Cras rhoncus dignissim magna, eget pretium odio pretium et. Fusce fermentum, erat et dignissim dictum, nibh ligula blandit enim, a pretium mi ligula pellentesque justo. Vestibulum ut nibh sit amet elit elementum rhoncus. Praesent nec risus nunc. In tincidunt diam sed est iaculis, sit amet porttitor ipsum sollicitudin. Ut a aliquam mauris, ut laoreet ex. Aenean sed augue dolor. Curabitur sit amet purus at sem suscipit scelerisque. Phasellus maximus ultrices orci aliquam egestas. Nam vitae ipsum non erat sollicitudin rhoncus sit amet eget mauris. Fusce orci nibh, dignissim auctor tristique non, tempus eget lacus. Cras at augue non erat facilisis bibendum.
        </div>
    </div>
</div>
<div id="sectioncontact" class="container-fluid">
    <div class="row col-lg-offset-1 col-md-offset-1">
        <div class="hidden-lg hidden-md hidden-sm col-xs-12">
            <%= image_tag("pg.jpg", :class => "img-responsive")%>
        </div>
        <div class="col-lg-6 col-md-6 col-sm-8 col-xs-12">
            OVER ONS
            
            Lorem ipsum dolor sit amet, consectetur adipiscing elit. In finibus mauris a accumsan ultricies. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Cras rutrum felis iaculis, viverra eros quis, eleifend ante. Aenean facilisis lobortis rhoncus. Cras rhoncus dignissim magna, eget pretium odio pretium et. Fusce fermentum, erat et dignissim dictum, nibh ligula blandit enim, a pretium mi ligula pellentesque justo. Vestibulum ut nibh sit amet elit elementum rhoncus. Praesent nec risus nunc. In tincidunt diam sed est iaculis, sit amet porttitor ipsum sollicitudin. Ut a aliquam mauris, ut laoreet ex. Aenean sed augue dolor. Curabitur sit amet purus at sem suscipit scelerisque. Phasellus maximus ultrices orci aliquam egestas. Nam vitae ipsum non erat sollicitudin rhoncus sit amet eget mauris. Fusce orci nibh, dignissim auctor tristique non, tempus eget lacus. Cras at augue non erat facilisis bibendum.
        </div>
        <div class="col-lg-4 col-md-4 col-sm-4 hidden-xs">
            <%= image_tag("pg.jpg", :class => "img-responsive")%>
        </div>
    </div>
</div>