<div id="sectionhome" class="container-fluid">
    <div class="row col-lg-offset-1 col-md-offset-1">
        <div class="col-lg-10 col-md-10 col-sm-12 col-xs-12">
            <h1>WELKOM</h1>
        </div>
        <div class="col-lg-4 col-md-4 col-sm-4 col-xs-12">
            <%= image_tag("fresh.jpg", :class => "img-responsive")%>
        </div>
        <div class="col-lg-6 col-md-6 col-sm-8 col-xs-12">
            Welkom op de vernieuwde website van was en strijkservice de Bout. Wij specialiseren ons in het wassen en/of strijken van uw linnengoed voor een zeer aantrekkelijke prijs. Ook is het mogelijk om kleine kledingreparaties door ons te laten uitvoeren. Wij komen uw wasgoed op afspraak ophalen en brengen het ook weer bij u thuis zodat u niet de hele dag hoeft thuis te blijven! Onze service biedt uitkomst voor particulieren en bedrijven (vraag naar onze prijslijst voor grote partijen). Verder is het ook mogelijk om gebruik te maken van onze service vanuit uw personsgebonden budget. Neem gerust contact met ons op voor vragen en/of meer informatie.
        </div>
    </div>
</div>
<div id="sectionaboutus" class="container-fluid">
    <div class="row col-lg-offset-1 col-md-offset-1">
        <div class="col-lg-10 col-md-10 col-sm-12 col-xs-12">
            <h1>OVER ONS</h1>
        </div>
        <div class="hidden-lg hidden-md hidden-sm col-xs-12">
            <%= image_tag("rika.jpg", :class => "img-responsive")%>
        </div>
        <div class="col-lg-6 col-md-6 col-sm-8 col-xs-12">
           Lorem ipsum dolor sit amet, consectetur adipiscing elit. In finibus mauris a accumsan ultricies. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Cras rutrum felis iaculis, viverra eros quis, eleifend ante. Aenean facilisis lobortis rhoncus. Cras rhoncus dignissim magna, eget pretium odio pretium et. Fusce fermentum, erat et dignissim dictum, nibh ligula blandit enim, a pretium mi ligula pellentesque justo. Vestibulum ut nibh sit amet elit elementum rhoncus. Praesent nec risus nunc. In tincidunt diam sed est iaculis, sit amet porttitor ipsum sollicitudin. Ut a aliquam mauris, ut laoreet ex. Aenean sed augue dolor. Curabitur sit amet purus at sem suscipit scelerisque. Phasellus maximus ultrices orci aliquam egestas. Nam vitae ipsum non erat sollicitudin rhoncus sit amet eget mauris. Fusce orci nibh, dignissim auctor tristique non, tempus eget lacus. Cras at augue non erat facilisis bibendum.
        </div>
        <div class="col-lg-4 col-md-4 col-sm-4 hidden-xs">
            <%= image_tag("rika.jpg", :class => "img-responsive")%>
        </div>
    </div>
</div>
<div id="sectionprices" class="container-fluid">
    <div class="row col-lg-offset-1 col-md-offset-1">
        <div class="col-lg-10 col-md-10 col-sm-12 col-xs-12">
            <h1>PRIJZEN</h1>
        </div>
        <div class="col-lg-4 col-md-4 col-sm-4 col-xs-12">
            <%= image_tag("fresh.jpg", :class => "img-responsive")%>
        </div>
        <div class="col-lg-6 col-md-6 col-sm-8 col-xs-12">
            Lorem ipsum dolor sit amet, consectetur adipiscing elit. In finibus mauris a accumsan ultricies. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Cras rutrum felis iaculis, viverra eros quis, eleifend ante. Aenean facilisis lobortis rhoncus. Cras rhoncus dignissim magna, eget pretium odio pretium et. Fusce fermentum, erat et dignissim dictum, nibh ligula blandit enim, a pretium mi ligula pellentesque justo. Vestibulum ut nibh sit amet elit elementum rhoncus. Praesent nec risus nunc. In tincidunt diam sed est iaculis, sit amet porttitor ipsum sollicitudin. Ut a aliquam mauris, ut laoreet ex. Aenean sed augue dolor. Curabitur sit amet purus at sem suscipit scelerisque. Phasellus maximus ultrices orci aliquam egestas. Nam vitae ipsum non erat sollicitudin rhoncus sit amet eget mauris. Fusce orci nibh, dignissim auctor tristique non, tempus eget lacus. Cras at augue non erat facilisis bibendum.
        </div>
    </div>
</div>
<div id="sectioncontact" class="container-fluid">
    <div class="row col-lg-offset-1 col-md-offset-1">
        <div class="col-lg-10 col-md-10 col-sm-12 col-xs-12">
            <h1>CONTACT</h1>
        </div>
        <div class="hidden-lg hidden-md hidden-sm col-xs-12">
            <%= image_tag("pg.jpg", :class => "img-responsive")%>
        </div>
        <div class="col-lg-6 col-md-6 col-sm-8 col-xs-12">
            Neem gerust contact met ons op voor al uw vragen en/of voor een vrijblijvende offerte. Dit kan telefonisch, per e-mail of direct via onze website!<br><br>
            Via de mail: <a style="color:#FFFFFF" href="mailto:debout@hotmail.nl?SUBJECT=Reactie">debout@hotmail.nl</a><br><br>
            Per telefoon: (06) 307 949 36<br><br>
            <button type="button" class="btn btn-primary btn-lg pull-right" data-toggle="modal" data-target="#myModal">Open Contactformulier</button>
        </div>
        <div class="col-lg-4 col-md-4 col-sm-4 hidden-xs">
            <%= image_tag("pg.jpg", :class => "img-responsive")%>
        </div>
    </div>
</div>